.NewspaperHeader {
  border-bottom: double 3px black;
}

.NewspaperHeaderRow {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.NewspaperHeader ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NewspaperHeader li {
  display: inline;
  margin: 0px 5px 0px 5px;
}

.NewspaperDetails {
  text-align: left;
}

.SearchToolButton {
  text-align: left;
}

.SignUpAndLoginButtons {
  text-align: right;
}

.StockTicker {
  text-align: right;
}