.NewspaperHeader {
  border-bottom: double 3px black;
}

.NewspaperHeader img {
  height: auto;
  justify-self: center;
  width: 70%;
}

.NewspaperHeaderRow {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0px 0px 0.3rem 0px;
}

.NewspaperHeader ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.NewspaperHeader li {
  display: inline;
}

/* Other components */

.NavigationButtons {
  margin-bottom: 0.5rem;
}

.NavigationButtons ul {
  display: inline;
}

.NavigationButtons svg {
  width: 8px;
}

.NavigationButtons a:hover {
  background: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.3em;
}

.NewspaperDetails {
  text-align: left;
}

.SearchToolButton {
  text-align: left;
}

.SearchToolButton svg {
  height: 16px;
}

.SignUpAndLoginButtons {
  text-align: right;
}

.SignUpAndLoginButtons button {
  margin-left: 0.5rem;
}

.StockTicker {
  text-align: right;
}