.App {
  padding: 1rem 10rem;
  text-align: center;
}

button {
  background-color: rgb(86, 123, 149);
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
}

button:hover {
  background-color: rgb(50, 104, 145);
  color: white;
}